#products {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  /* grid-template-columns: repeat(3,3fr); */
  /* grid-template-columns: repeat(3,1fr); */
  gap: 2rem;
  
}
#shop {
  margin: 2rem auto;
  width: 70%;
}
#shop > h2 {
  font-size: 1.5rem;
  color: #a59b8b;
  text-transform: uppercase;
}

.product {
  height: 100%;
  background: #5f4e33;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: #5f4e33;
  /* width: calc(100% / 3); */
}

.product img {
  width: 100%;
  border-radius: 6px;
}

.product-content {
  flex: 1;
  padding: 0 1rem 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-price {
  font-size: 1rem;
  color: #d1b68b;
  margin: 0;
}
.product-content h3 {
    font-size: 1.25rem;
    color: #fbd392;
    margin-bottom: 0.15rem;
}

.product:hover
{
    box-shadow: 0 0 10px #fbd392;

}


.product-actions
{
  text-align: right;
}

.product-actions >button
{
    background-color: #f4b115;
    width: fit-content;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: #201e1a;
    font-size: 1rem;
    cursor: pointer;
    border: none;


}
.product-actions button:hover {
    background: #f5b744;
}
  
#main-header
{
  display: flex;
  justify-content: space-between;
  align-items:center ;
  padding: 3rem 15%;

}
#main-header img
{
  width: 5rem;
  margin-right: 1.5rem;
}

#main-title
{
  display: flex;
  align-items: center;
}
#main-title p{
  text-transform: capitalize;
  text-shadow: 0 0 4px rgba(35, 34, 34, 0.4);
  color: #edbf68;
  font-size: 2.5rem;
  margin: 0;
}

#main-header button
{
  background-color: #edbf68;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 0.3em;
  font-size: 1.25rem;
  cursor: pointer;
}
#main-header button:hover
{
  background-color: #eaa931;

}

#cart-items {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 200px; 
  overflow-y: scroll; 
}

#cart-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #fbd392;
  border-radius: 5px;
  font-size: 0.9rem;
}

.cart-item-actions {
  font-size: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.cart-item-actions button {
  background: transparent;
  border: none;
  border-radius: 5px;
  color: #201e1a;
  cursor: pointer;
  font-size: 1.1rem;
}

.cart-item-actions button:hover {
  background: #f5b744;
}

.cart-item-actions button:first-of-type {
  padding-bottom: 0.2rem;
}

#iconremove:active
{
  color: red;
}
